<div class="content-section">
  <form method="POST" action="">
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Reset Password</legend>
          <div class="form-group">
            <label for="" class="form-control-label">Password</label>
            <input
              required
              autocomplete="off"
              #password="ngModel"
              ngModel
              name="password"
              type="text"
              class="form-control form-control-md"
              [ngClass]="{
                'is-invalid': password.touched && password.invalid,
                'is-valid': password.touched && password.valid
              }"
            />
            <div *ngIf="password.touched && password.invalid">
              <small class="text-danger" *ngIf="password.errors?.required"
                >Password is required</small
              >
            </div>
          </div>
          <div class="form-group">
            <label for="" class="form-control-label">Confirm Password</label>
            <input
              required
              autocomplete="off"
              #confirmPassword="ngModel"
              ngModel
              name="confirmPassword"
              type="text"
              class="form-control form-control-md"
              [ngClass]="{
                'is-invalid': confirmPassword.touched && confirmPassword.invalid,
                'is-valid': confirmPassword.touched && confirmPassword.valid
              }"
            />
            <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
              <small class="text-danger" *ngIf="confirmPassword.errors?.required"
                >Confirm Password is required</small
              >
            </div>
          </div>
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Submit</button>
      </div>
  </form>
</div>
