<div *ngFor="let post of posts">
  <article class="media content-section">
    <img class="rounded-circle article-img" src="https://i.imgur.com/KLeobJk.jpg" />
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.user_name }}</a>
        <small class="text-muted">{{
          post.date_posted | date: "dd/MM/yyyy h:mm:ss a z"
        }}</small>
      </div>
      <h2>
        <a class="article-title" routerLink="/post/{{ post.id }}">{{
          post.title
        }}</a>
      </h2>
      <p class="article-content">{{ post.content }}</p>

      <div class="">
        <div class="d-flex row">
          <div class="d-flex flex-column col-md-12 mt-2">
            <div class="coment-bottom bg-white">
              <div class="d-flex flex-row add-comment-section">
                <img
                  class="img-fluid img-responsive rounded-circle mr-2"
                  src="https://i.imgur.com/KLeobJk.jpg"
                  width="38"
                /><input
                  type="text"
                  class="form-control mr-3"
                  placeholder="Add comment"
                /><button class="btn btn-primary" type="button">Comment</button>
              </div>
              <div class="collapsable-comment">
                <div
                  class="
                    d-flex
                    flex-row
                    justify-content-between
                    align-items-center
                    action-collapse
                    p-2
                  "
                  data-toggle="collapse"
                  aria-expanded="false"
                  aria-controls="collapse-1"
                  href="#collapse-1"
                >
                  <span class="mt-3">Comments</span
                  ><i class="fa fa-chevron-down servicedrop"></i>
                </div>
                <div id="collapse-1" class="collapse">
                  <div class="commented-section mt-2">
                    <div
                      class="d-flex flex-row align-items-center commented-user"
                    >
                      <h5 class="mr-2">Corey oates</h5>
                      <span class="dot mb-1"></span
                      ><span class="mb-1 ml-2">4 hours ago</span>
                    </div>
                    <div class="comment-text-sm">
                      <span
                        >Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat.</span
                      >
                    </div>
                    <div class="reply-section">
                      <div
                        class="d-flex flex-row align-items-center voting-icons"
                      >
                        <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i
                        ><i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i
                        ><span class="ml-2">10</span
                        ><span class="dot ml-2"></span>
                        <h6 class="ml-2 mt-1">Reply</h6>
                      </div>
                    </div>
                  </div>
                  <div class="commented-section mt-2">
                    <div
                      class="d-flex flex-row align-items-center commented-user"
                    >
                      <h5 class="mr-2">Samoya Johns</h5>
                      <span class="dot mb-1"></span
                      ><span class="mb-1 ml-2">5 hours ago</span>
                    </div>
                    <div class="comment-text-sm">
                      <span
                        >Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua..</span
                      >
                    </div>
                    <div class="reply-section">
                      <div
                        class="d-flex flex-row align-items-center voting-icons"
                      >
                        <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i
                        ><i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i
                        ><span class="ml-2">15</span
                        ><span class="dot ml-2"></span>
                        <h6 class="ml-2 mt-1">Reply</h6>
                      </div>
                    </div>
                  </div>
                  <div class="commented-section mt-2">
                    <div
                      class="d-flex flex-row align-items-center commented-user"
                    >
                      <h5 class="mr-2">Makhaya andrew</h5>
                      <span class="dot mb-1"></span
                      ><span class="mb-1 ml-2">10 hours ago</span>
                    </div>
                    <div class="comment-text-sm">
                      <span
                        >Nunc sed id semper risus in hendrerit gravida rutrum.
                        Non odio euismod lacinia at quis risus sed. Commodo
                        ullamcorper a lacus vestibulum sed arcu non odio
                        euismod. Enim facilisis gravida neque convallis a. In
                        mollis nunc sed id. Adipiscing elit pellentesque
                        habitant morbi tristique senectus et netus. Ultrices mi
                        tempus imperdiet nulla malesuada pellentesque.</span
                      >
                    </div>
                    <div class="reply-section">
                      <div
                        class="d-flex flex-row align-items-center voting-icons"
                      >
                        <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i
                        ><i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i
                        ><span class="ml-2">25</span
                        ><span class="dot ml-2"></span>
                        <h6 class="ml-2 mt-1">Reply</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
<div class="container">
  <ul class="pagination">
    <li class="page-item">
      <input type="button" #input1 value='Previous' (click)="getPreviousPosts()" class="page-link">
    </li>
    <li class="page-item" *ngFor="let pagee of pages">
      <input [ngClass]="{'btn btn-primary': 'page==pagee'}" type="button" #input value="{{pagee}}" (click)="getPosts(input)" class="page-link">
    </li>
    <li class="page-item">
      <input type="button" #input2 value='Next' (click)="getNextPosts()" class="page-link">
    </li>
  </ul>
</div>

<script>
  $(document).ready(function () {
    $("#collapse-1").on("shown.bs.collapse", function () {
      $(".servicedrop")
        .addClass("fa-chevron-up")
        .removeClass("fa-chevron-down");
    });

    $("#collapse-1").on("hidden.bs.collapse", function () {
      $(".servicedrop")
        .addClass("fa-chevron-down")
        .removeClass("fa-chevron-up");
    });
  });
</script>
